:root {
  --Gris: hsl(0, 0%, 95%);
  --Cian_oscuro: hsl(184, 100%, 22%);
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--Gris);
}

body img {
  width: 5rem;
}

.container {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid var(--Cian_oscuro);
  border-radius: 10px;
  overflow: hidden;
}

.container img {
  width: 450px;
}

.info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.info h1 {
  font-weight: 600;
}

.info p {
  font-size: 1.3rem;
}

.parrafo1 {
  margin: 0;
  margin-bottom: 1rem;
}

.parrafo2 {
  margin: 0;
  margin-bottom: 1rem;
}
